================================
{%- if vpn == "" %}
1 - Run nping on {{ host }} on all possible VPNs
{%- else %}
1 - Run nping on {{ host }} on VPN {{ vpn }}
{%- endif %}
2 - Run nping on new host
3 - Refresh routing information
4 - Refresh events - TESTING
{%- if site != "" %}
5 - Get details on site {{ site }}
{%- endif %}
6 - Exit
================================
